<div class="full-height">
  <div class="rounded-rectangle">
    <div class="d-flex flex-column">
      <div class="p-2 d-flex justify-content-center">
        <h1 class="mt-5" style="width:auto;">SIGN UP FOR FREE</h1>
      </div>
      <div class="p-2 d-flex justify-content-center">
        <div class="">
          <form>
            <div class="mb-3">
              <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" (input)="onUpdateFirstName($event)">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="exampleInputLastName"  placeholder="Last Name" (input)="onUpdateLastName($event)">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="exampleInputAddress" placeholder="Address" (input)="onUpdateAddress($event)">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="exampleInputPhoneNumber" placeholder="Phone Number" (input)="onUpdatePhoneNumber($event)">
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address" (input)="onUpdateEmail($event)">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" (input)="onUpdatePassword($event)">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" (input)="onUpdateConfirmPassword($event)">
            </div>
            <div class="mt-5 p-2 text-center">
              <button type="submit" class="btn btn-primary ml-2 " (click)="onSubmit()"
                style="color:black; background-color:#EDDDD4; border-color: #EDDDD4;">SIGN ME UP
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-dog-and-cat></app-dog-and-cat>
</div>
