<div class="full-height">
  <div class="container" style="padding: 2%;"> </div>
  <div class="container-main overflow-auto">
    <h1 class="text-center" style="padding-top:2%; font-size: 50px;"><strong>BOOK AN APPOINTMENT NOW!</strong></h1>
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="lin-md-4">
              <div class="container " style="padding-top: 8%;" >
                <h1 class="text-left" style="color: #197278;">Your pet:</h1>
                <mat-form-field  appearance="fill" style="width: 25vw; margin: 0; padding: 0;" >
                  <mat-select [(value)]="selected" style="margin: 0; padding: 0;">
                    <mat-option *ngFor="let pet of pets" [value]="pet">
                      {{pet.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="lin-md-4">
              <div class="container " style="padding-top: 8%;" >
                <h1 class="text-left" style="color: #197278;">Rrent cage?</h1>
                <mat-form-field  appearance="fill" style="width: 25vw; margin: 0; padding: 0;" >
                  <mat-select [(value)]="selected" style="margin: 0; padding: 0;">
                    <mat-option *ngFor="let cage of cages" [value]="cage">
                      {{cage.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container" style="padding: 2%;">
          <div class="lin-md-4">
            <div class="container " style="padding-top: 6%;" >
              <h1 class="text-left" style="color: #197278;">Timeslot</h1>
              <mat-form-field  appearance="fill" style="width: 25vw; margin: 0; padding: 0;" >
                <mat-select [(value)]="selected" style="margin: 0; padding: 0;">
                  <mat-option *ngFor="let time of times" [value]="time">
                    {{time.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <img src="/assets/rabbit.png" width="40%" height="70%" alt="" style="display: block; margin: auto;">
          <div style="text-align: center">
            <button type="button" class="btn btn-primary"
              style="border: 0px;font-size: 25px; background-color: #AC9689; width: 15vw;">Book
              your<br>appointment</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container" style="padding-top: 2%;">
          <div class="lin-md-4">
            <div class="container " style="padding-top: 6%;" >
              <h1 class="text-left" style="color: #197278;">Appointment Type</h1>
              <mat-form-field  appearance="fill" style="width: 25vw; margin: 0; padding: 0;" >
                <mat-select [(value)]="selected" style="margin: 0; padding: 0;">
                  <mat-option *ngFor="let time of times" [value]="time">
                    {{time.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="lin-md-4">
            <div class="container " style="padding-top: 8%;" >
              <h1 class="text-left" style="color: #197278;"> Clinics from your location</h1>
              <mat-form-field  appearance="fill" style="width: 25vw; margin: 0; padding: 0;" >
                <mat-select [(value)]="selected" style="margin: 0; padding: 0;">
                  <mat-option *ngFor="let time of times" [value]="time">
                    {{time.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
