<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #197278;">
  <div class="container-fluid">
    <img src="/assets/duck.png" width="50" height="50" alt="">
    <a class="navbar-brand" href="#" style="color: #EDDDD4;">DucksNet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" href="/api-show">APIs</a>
        </li>
      </ul>
    </div>
    <ul class="nav">
      <li class="nav-item ml-auto" style="margin-right:10px;">
        <button type="button" class="btn btn-primary ml-2" style="color:black; background-color:#D9C5B2;">Sign In</button>
      </li>
      <li class="nav-item ml-auto" style="margin-right:10px;">
        <button type="button" class="btn btn-primary ml-2" style="color:black; background-color:#D9C5B2;">Sign Up</button>
      </li>
      <li class="nav-item ml-auto" style="margin-right:10px;">
        <button type="button" class="btn btn-primary ml-2" style="color:black; background-color:#D9C5B2;">Our Clinics</button>
      </li>
    </ul>
  </div>
</nav>
