<app-appbar></app-appbar>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
        (click)="lastOperationResult = undefined"
      >
        Pets
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <table class="table tabe-hover">
          <caption>Table with pets in the datapase</caption>
          <thead>
            <tr>
              <th scope="col">Pet Id</th>
              <th scope="col">Pet Name</th>
              <th scope="col">Pet DateOfBirth</th>
              <th scope="col">Pet Species</th>
              <th scope="col">Pet Breed</th>
              <th scope="col">Pet OwnerId</th>
              <th scope="col">Pet Size</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-info" *ngFor="let pet of data.pets">
              <div *ngIf="petUpdateModel.id === pet.id; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <td>{{ petUpdateModel.id }}</td>
                <td><input type="text" [(ngModel)]="petUpdateModel.dto.name"></td>
                <td><input type="date" [(ngModel)]="petUpdateModel.dto.dateOfBirth"></td>
                <td><input type="text" [(ngModel)]="petUpdateModel.dto.species"></td>
                <td><input type="text" [(ngModel)]="petUpdateModel.dto.breed"></td>
                <td>
                  <select [(ngModel)]="petUpdateModel.dto.ownerId">
                    <option *ngFor="let owner of data.users" [value]="owner.id">{{ owner.firstName + ' ' + owner.lastName }}</option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="petUpdateModel.dto.size">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                  </select>
                </td>
                <td>
                  <button
                    class="btn btn-primary btn-sm mx-2"
                    (click)="submitUpdatePet()"
                    >
                    Done
                  </button>
                  <button
                    class="btn btn-warning btn-sm mx-2"
                    (click)="petUpdateModel = {}"
                    >
                    Cancel
                  </button>
                </td>
              </ng-template>
              <ng-template #elseBlock>
                <td>{{ pet.id }}</td>
                <td>{{ pet.name }}</td>
                <td>{{ pet.dateOfBirth }}</td>
                <td>{{ pet.species }}</td>
                <td>{{ pet.breed }}</td>
                <td>{{ pet.ownerId }}</td>
                <td>{{ pet.size }}</td>
                <td>
                  <button
                    class="btn btn-success btn-sm mx-2"
                    (click)="editPet(pet.id)"
                    >
                    Edit
                  </button>
                  <button
                    class="btn btn-danger btn-sm mx-2"
                    (click)="deletePet(pet.id)"
                    >
                    Delete
                  </button>
                </td>
              </ng-template>
          </tr>
          <tr>
            <td> Autogenerated </td>
            <td><input type="text" [(ngModel)]="petCreateModel.dto.name" placeholder="Name"></td>
            <td><input type="date" [(ngModel)]="petCreateModel.dto.dateOfBirth"></td>
            <td><input type="text" [(ngModel)]="petCreateModel.dto.species" placeholder="Species"></td>
            <td><input type="text" [(ngModel)]="petCreateModel.dto.breed" placeholder="Breed"></td>
            <td>
              <select [(ngModel)]="petCreateModel.dto.ownerId">
                <option *ngFor="let owner of data.users" [value]="owner.id">{{ owner.firstName + ' ' + owner.lastName }}</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="petCreateModel.dto.size">
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
              </select>
            </td>
            <td>
              <button
                class="btn btn-primary btn-sm mx-2"
                (click)="submitCreatePet()"
                >
                Create
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="lastOperationResult != undefined">
          <div *ngIf="lastOperationResult.isSuccess === true; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Success</h4>
            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Failure</h4>
              <hr>
              <p class="mb-0">{{ lastOperationResult.message }}</p>
            </div>
          </ng-template>
        </div>
      </div> <!-- end of accordion-body -->
    </div> <!-- end of collapseOne -->
  </div> <!-- end of accordion-item -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
        (click)="lastOperationResult = undefined"
      >
        Users
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <table class="table tabe-hover">
          <caption>Table with users in the database</caption>
          <thead>
            <tr>
              <th>User Id</th>
              <th>User FirstName</th>
              <th>User LastName</th>
              <th>User Address</th>
              <th>User PhoneNumber</th>
              <th>User Email</th>
              <th>User password</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-info" *ngFor="let user of data.users">
              <div *ngIf="userUpdateModel.id === user.id; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <td> {{ user.id }} </td>
                <td><input type="text" [(ngModel)]="userUpdateModel.dto.firstName"></td>
                <td><input type="text" [(ngModel)]="userUpdateModel.dto.lastName"></td>
                <td><input type="text" [(ngModel)]="userUpdateModel.dto.address"></td>
                <td><input type="text" [(ngModel)]="userUpdateModel.dto.phoneNumber"></td>
                <td><input type="email" [(ngModel)]="userUpdateModel.dto.email"></td>
                <td><input type="password" [(ngModel)]="userUpdateModel.dto.password"></td>
                <td>
                  <button
                    class="btn btn-primary btn-sm mx-2"
                    (click)="submitUpdateUser()"
                    >
                    Done
                  </button>
                  <button
                    class="btn btn-warning btn-sm mx-2"
                    (click)="userUpdateModel = {}"
                    >
                    Cancel
                  </button>
                </td>
              </ng-template>
              <ng-template #elseBlock>
                <td> {{ user.id }} </td>
                <td> {{ user.firstName }} </td>
                <td> {{ user.lastName }} </td>
                <td> {{ user.address }} </td>
                <td> {{ user.phoneNumber }} </td>
                <td> {{ user.email }} </td>
                <td> <details> {{ user.password }} </details> </td>
                <td>
                  <button
                    class="btn btn-success btn-sm mx-2"
                    (click)="editUser(user.id)"
                    >
                    Edit
                  </button>
                  <button
                    class="btn btn-danger btn-sm mx-2"
                    (click)="deleteUser(user.id)"
                    >
                    Delete
                  </button>
                </td>
              </ng-template>
          </tr>
          <tr>
            <td>
              Autogenerated
            </td>
            <td>
              <input type="text" [(ngModel)]="userCreateModel.dto.firstName" placeholder="First Name" >
            </td>
            <td>
              <input type="text" [(ngModel)]="userCreateModel.dto.lastName" placeholder="Last Name">
            </td>
            <td>
              <input type="text" [(ngModel)]="userCreateModel.dto.address" placeholder="Address">
            </td>
            <td>
              <input type="text" [(ngModel)]="userCreateModel.dto.phoneNumber" placeholder="Phone">
            </td>
            <td>
              <input type="email" [(ngModel)]="userCreateModel.dto.email" placeholder="Email">
            </td>
            <td>
              <input type="password" [(ngModel)]="userCreateModel.dto.password" placeholder="Password">
            </td>
            <td>
              <button
                class="btn btn-primary btn-sm mx-2"
                (click)="submitCreateUser()"
                >
                Create
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="lastOperationResult != undefined">
          <div *ngIf="lastOperationResult.isSuccess === true; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Success</h4>
            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Failure</h4>
              <hr>
              <p class="mb-0">{{ lastOperationResult.message }}</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end of accordion -->
