.full-height {
  height: 100%;
  background: #EDDDD4;
}

.rounded-rectangle{
  background: #D9C5B2;
  height: 70%;
  width: 90%;
  border-radius: 25px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rectangle-text{
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 4%;
  color: #197278;
  font-size: large;
}
.fix-cat{
  position:fixed;
  bottom:0px;
  left:0%;
}
.fix-dog{
  position:fixed;
  bottom:0px;
  left:70%;
}
