<div class="full-height">
  <div class="rounded-rectangle">
    <div class="d-flex flex-column">
      <div class="p-2 d-flex justify-content-center">
        <h1 class="mt-5" style="width:auto;">BEST VETERINARY CLINICS CONNECTED INTO ONE APP</h1>
      </div>
      <div class="p-2">
        <p class="rectangle-text">Our mission is to provide the highest quality medical and surgical care to our
          patients. We strive to exceed our clients' expectations by treating owners and their pets with respect,
          honesty, and compassion and treating all animals as if they were our own, providing our services in a clean,
          safe, and friendly environment.</p>
      </div>
      <div class="mt-5 p-2 text-center">
        <button type="button" class="btn btn-primary ml-2 " style="color:black; background-color:#EDDDD4; border-color: #EDDDD4;">BOOK YOUR
          APPOINTMENT
        </button>
      </div>
    </div>
  </div>
  <img src="/assets/dog.png" alt="" class="fix-dog" style="align-self: flex-start;">
  <img src="/assets/cat.png" alt="" class="fix-cat" style="align-self: flex-end;">
</div>
