<div class="full-height">
  <div class="container" style="padding: 2%;"> </div>
  <div class="container-main overflow-auto">
    <h1 class="text-center" style="padding-top:2%; font-size: 50px;"><strong>Veterinary Clinic Name</strong></h1>
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="lin-md-4">
              <div class="container" style="padding-top: 8%;">
                <h1 class="text-left" style="color: #197278;">ADDRESS:</h1>
                <div class="container-content-small">
                  <h3>Strada Sararie NR 3</h3>
                </div>
              </div>
            </div>
            <div class="lin-md-4">
              <div class="container" style="padding-top: 8%;">
                <h1 class="text-left" style="color: #197278;">ANIMAL CAPACITY:</h1>
                <div class="container-content-small">
                  <h3>10 AVAILABLE PLACES</h3>
                </div>
              </div>
            </div>
            <div class="lin-md-4">
              <div class="container" style="padding-top: 8%;">
                <h1 class="text-left" style="color: #197278;">CITY:</h1>
                <div class="container-content-small">
                  <h3>IASI, ROMANIA</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container" style="padding: 2%;">
          <div class="container" style="padding: 18%;"> </div>
          <img src="/assets/rata.png" width="40%" height="70%" alt="" style="display: block; margin: auto;">
          <div style="text-align: center">
            <button type="button" class="btn btn-primary"
              style="border: 0px;font-size: 25px; background-color: #AC9689; width: 15vw;">Book
              your<br>appointment</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container" style="padding-top: 8%;">
          <h1 class="text-left" style="color: #197278;">EMPLOYEES:</h1>
          <div class="container-content-big">
            <h3>IASI, ROMANIA</h3>
            <h3>IASI, ROMANIA</h3>
            <h3>IASI, ROMANIAROMANIAROMANIAROMANIA</h3>
            <h3>IASI, ROMANIAROMANIAROMANIAROMANIA</h3>
          </div>
        </div>
        <div class="container" style="padding-top: 8%;">
          <h1 class="text-left" style="color: #197278;">HISTORY WITH THIS CLINIC:</h1>
          <div class="container-content-big">
            <h3>IASI, ROMANIA</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
