<div class="full-height">
  <h1 class="text-center" style="padding-top:2%;">Veterinary Cabinets from this Company</h1>
  <div class="container-main overflow-auto">
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>
   <button class="btn w-100" style="background-color: #EDDDD4; text-align: left;margin-bottom: 1%;">My Clinic</button>



</div>
